<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.uniobuda.nik.ciwsduino">

	<!-- bluetooth jogok -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ciwsduino"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AlapTema">

        <!--
        A MainActivity helyett a SplashActivity-vel indítjuk az app-ot.
        A SplashActivity-re kikényszerítjük az álló elrendezést.
        Hogy ne vegyen el helyet az ActionBar a SplashScreen-ből átállítjuk a Témát.
        -->
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlapTema.ActionBarNelkul">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Hogy programkódból a MainActivity-hez is hozzáférjünk fel kell itt venni. -->
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AlapTema.ActionBarNelkul">
        </activity>

    </application>

</manifest>